
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}

        /* Navbar styling */

  #navbar {
    overflow: hidden;
    display: grid;
    background-color: #213536;
  }
  
  #navbar-left {
    display: flex;
    grid-column: 1;
  }

  #navbar-right {
    display: flex;
    grid-column: 2;
    justify-content: end;
  }
  
  #logo {
    display: flex;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-items: center;
  }

  #logo:hover{
    cursor: pointer;
    opacity: 60%;
  }

  #navbar a {
    z-index: 1;
    display: block;
    color: #F8F8F8;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  #navbar a:hover {
    opacity: 60%;
    border-bottom: 3px solid #F8F8F8;
    padding-bottom: 11px;
  }

  #search-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
  }

  #search-bar div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height:fit-content;
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 0;
    width: 80%;
  }

  #search-bar button {
    height: auto;
    border: none;
    background-color: #00000000;
  }

  #search-bar img {
    height: 20px;
  }

  #search-input {
    opacity: 100%;
    font-size: 18px;
    border: none;
    text-align: end;
    color: #F8F8F8;
    background-color: #00000000;
    width: 100%;
  }

  #search-input:focus {
    border: none;
    background-color: #00000000;
    outline: none;
  }

  #search-input::placeholder {
    color: #F8F8F8;
    opacity: 60%;
  }

  #cart {
    display: flex;
    height: calc(100% - 3px);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 3px;
    align-items: center;
    justify-items: center;
  }

  #cart:hover {
    cursor: pointer;
    opacity: 60%;
    border-bottom: 3px solid #F8F8F8;
    padding-bottom: 0px;
  }

  .not-sticky {
    visibility: hidden;
    height: 0;
  }

  .sticky {
    visibility: visible;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }



  /* Page body styling */

h1 {
  margin: 12px;
  font-size: 36px;
  text-align: left;
}

button:hover {
  cursor: pointer;
}


/* Top section (Title + Picture) */

#top-main {
  top: -50vh;
  height: 100vh;
  width: 100%;
  background-image: url("Home\ Page\ Background.jpg");
  background-size: cover;
  background-position: 0% 10%;
}

#top-flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  size: 100% 100%;
}

#title-outer {
  color: #F8F8F8;
  margin: 40px;
  flex: 0 0 50%;
}

#title-outer h1{
  margin-top: 15%;
  font-size: 96px;
  height:auto;
  width: 600px;
}

#title-outer button{
  margin: 20px;
  margin-top: 30px;
  height: 50px;
  width: 220px;
  background-color: #F8F8F8;
  border: none;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #213536;
}

#featured {
  display: flex;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  justify-content: center;
  padding-bottom: 80px;
}

#featured>div {
  max-width: 1200px;
}


/* Top featured Products */

#featured-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

#featured-top .product {
  width: 20%;
}

.product img {
  z-index: 0;
  position: relative;
  width: 100%;
  border-radius: 12px;
}

.grid-container {
  display: grid;
}


.image-holder {
  z-index: 0;
  position: relative;
}

.hide-till-hover {
    /*button position*/
    position: absolute;
    bottom: 10px;
    right: 10px;

    visibility: hidden;
    height: 32px;
    width: calc(100% - 20px);
    border: 0px solid #213536;
    background-color: white;
    border-radius: 12px;
    color: #213536;
    font-size: 20px;
    font-weight: 500;
}

.product:hover .hide-till-hover {
  visibility: visible;
}


.product-name {
  margin: 10px;
  font-size: 20px;
  line-height: 20px;
  grid-column: 1;
  color: #213536;
}

.product-price {
  margin: 10px;
  grid-column: 2;
  text-align: end;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #2135367e;
}



/* Main Divider */

#divider-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

#divider-container div {
  flex-grow: 1;
  height: 4px;
  border-radius: 4px;
  background-color: #213536;
}

#divider-container button {
  flex-grow: 0;
  margin-left: 2.5%;
  height: 40px;
  width: 280px;
  background-color: #213536;
  border: none;
  border-radius: 32px;
  font-size: 20px;
  font-weight: bold;
  color: #F8F8F8;
}


/* Featured Shirts */

h2.featured-shirts {
  font-size: 20px;
  font-weight: bold;
  color: #213536;
  margin-bottom: 2.5%;
  margin-top: 5%;
}

div.featured-shirts {
  width: 100%;
}

tr {
  height: 1px;
}

td {
  padding-left: 20px;
  padding-right: 20px;
  height: inherit;
}


/* Genric Black T */

#generic-black-t {
  height: 100%;
}

#generic-black-t img {
  height: calc(93% - 10px);
  margin-top: 2%;
  object-fit: cover;
}


/* Free Mockup T */

td#free-mockup-t {
  padding-right: 0;
  width: 62%;
}

#free-mockup-t img {
  padding-right: 0;
  width: 100%;
}


/* Generic Colours Line Divider */

#generic-colours-divider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

#generic-colours-divider h2 {
  margin-right: 2.5%;
  font-size: 20px;
  font-weight: bold;
  color: #213536;
}

#generic-colours-divider div {
  flex-grow: 1;
  height: 4px;
  border-radius: 4px;
  background-color: #2135367e;
}

#generic-colours-divider button {
  flex-grow: 0;
  margin-left: 2.5%;
  height: 40px;
  width: 160px;
  background-color: #F8F8F8;
  border: 1px solid #213536;
  border-radius: 32px;
  font-size: 20px;
  font-weight: normal;
  color: #213536;;
}


/* Generic Colours Line Items */

#generic-colours-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#generic-colours-container .product {
  width: 48%;
  height: 100%;
}