html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
}
        
  /* Page body styling */


  .main-outer-section{
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
  }


  .sub-outer-section{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 70vh;
    
    }

.shopping-cart-section{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width:70%;
}


.items-section{
  background-color: #213536; 
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:12px; 
  width:100%;
  height:120px;
  margin-top: 10px;
  border-radius: 10px;
}

.items-picture{
  display: flex;
  flex:0 0 95px;
  margin-left: 1%;
  background-image: url(image\ 7.png);
  padding:10px;
  display:inline-block;
  border-radius: 10px;
  
}

.left-items-text{
  display: flex;
  flex-grow: 0;
  width: 30%;
  flex-direction: column;
  color: #F8F8F8;
  font-size:22px;
  margin-left:2.5%;
  margin-top: 6px;

}
.left-text1{
  margin-bottom: 15%;
}

.quantity-section{
  display: flex;
  flex-direction: column;
  color:#F8F8F8;
  margin-top: 6px;
}

.quantity-text{
  font-size: 22px;
  margin-bottom: 50%;
}

.quantity-number-container{
  display:flex;
  width: 30;
  position: relative;
  flex-direction: row;
  background-color: #F8F8F8;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}

.quantity-minus{
  width: 33%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}

.quantity-number{
  border: #213536;
  color: #213536;
  width:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:6px #213536;
  
}

.quantity-plus{
  width: 33%;
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-section{
  color: #F8F8F8;
  font-size: 20px;
  margin-left: auto;
  margin-right:5%;
  margin-top: 6px;
}

.X-Remove{
  margin-top: 65%;
  font-size: 15px;
}

.items-picture2{
  display: flex;
  flex:0 0 95px;
  margin-left: 1%;
  background-image: url(image\ 8.png);
  padding:10px;
  display:inline-block;
  border-radius: 10px;
  
}
