html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
  /* overflow: hidden; */
}

h1 {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  padding-top: 40px;
  background-color: #F8F8F8;
}

/* Managing flexboxes */
#main-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* overflow-y: auto; */
}

.grid-main {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: start;
  width: 100%;
  height: 100%;
  /* overflow-y: hidden; */
  max-width: 1200px;
}


/* Sort and Filter box */

div.filters {
  position:sticky;
  top: 92px;
  align-self: flex-start;
  grid-column: 1;
  background-color: #F8F8F8;
  color: #F8F8F8;
  min-width: 300px;
  margin: 40px;
  margin-right: 80px;
  margin-left: 0;
  max-height: calc(100vh - 140px);
  font-size: 20px;
  overflow-y: auto;
}

.filters p {
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  user-select: none;
}


.collapsible {
  display: grid;
  grid-template-columns: auto min-content;
  background-color: #f8f8f8;
  color: #213536;
  cursor: pointer;
  border: none;
  outline: none;

  margin: 0px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #213536;
  border-top: 1px solid #213536;
}

.collapsible p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}

.collapsible div {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.chevron {
  border: solid #213536;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

.collapsible:first-child {
  border-top: 2px solid #213536;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #21353694;
}




.filters p.sort-type:hover {
  color:#213536;
  cursor: pointer;
}

hr {
  margin: 0;
  border-top: 1px solid #F8F8F8;
  border-bottom: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}





/* Checkboxes for filtering */
.container-checkbox {
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;  
}

.container-checkbox:hover {
 color: #213536;
}

.container-checkbox p {
  display: inline;
  padding-left: 10px;
  vertical-align: top;
}

.container-checkbox input {
  height: 20px;
  width: 20px;
}





/* Products Section */
div.products {
  grid-column: 2;
  padding: 0;
  width: 100%;
}

.products h1 {
  position: sticky;
  top: 52px;
  margin: 0;
  width: 100%;
  padding-bottom: 32px;
}

.flex-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  gap: 2.5%;
  align-content: flex-start;
  justify-content: space-between;
}

.flex-product-item {
  width: 31%;
  min-width: 31%;
  max-width: 31%;
  flex: 1 1 0px;
  background-color: #EFEFEF;
}

.flex-product-item:hover {
  cursor: pointer;
  color: royalblue;
}


.img-holder {
  z-index: 0;
  position: relative;

  /* display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
  align-items: center;
  padding: 20px; */
}

.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-product-item p {
  font-size: 20px;
  padding: 5px;
  padding-left: 30px;
  margin: 0;
  justify-content: center;
}

.product img {
  z-index: 0;
  position: relative;
  width: 100%;
  border-radius: 12px;
}

.grid-container {
  display: grid;
}




/* .image-holder {
  z-index: 0;
  position: relative;
} */

/* .hide-till-hover {
    position: absolute;
    bottom: 10px;
    right: 10px;

    visibility: hidden;
    height: 32px;
    width: calc(100% - 20px);
    border: 0px solid #213536;
    background-color: white;
    border-radius: 12px;
    color: #213536;
    font-size: 20px;
    font-weight: 500;
} */

/* .product:hover .hide-till-hover {
  visibility: visible;
} */





.placeholder {
  height: 320px;
  min-width: 360px;
  width: 100%;
  flex: 1 1 0px;
  background-color: rgba(255, 255, 255, 0);
}