html, body {
  /* Set the font for the whole page and make sure we have all the space to work with */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  padding-top: 40px;
  background-color: #F8F8F8;
}

button:hover {
  cursor: pointer;
}

/* Managing flexboxes */

#main-container {
  /* This allows us to center our main grid on the screen (important when zooming out) */
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-main {
  /* This grid contains the filters div on the left and the products on the right */
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: start;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}




/* Sort and Filter box */

div.filters {
  /* This is for the div that contains all collapsible sections */
  position:sticky;
  top: 92px;
  align-self: flex-start;
  grid-column: 1;
  background-color: #F8F8F8;
  color: #F8F8F8;
  min-width: 300px;
  margin: 40px;
  margin-right: 80px;
  margin-left: 0;
  max-height: calc(100vh - 140px);
  font-size: 20px;
  overflow-y: auto;
}

.collapsible {
  /* This is for the button that you click on to toggle the collapsible section */
  display: grid;
  grid-template-columns: auto min-content;
  background-color: #f8f8f8;
  color: #213536;
  cursor: pointer;
  border: none;
  outline: none;

  margin: 0px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #213536;
  border-top: 1px solid #213536;
}

.collapsible p {
  /* For the text inside the collapsible buttons */
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}

.collapsible div {
  /* This div holds and vertically centers the chevron for each collapsible button */
  height: 100%;
  display: flex;
  align-items: center;
}

.chevron {
  /* The chevron is just a small square with borders on 2 sides that is rotated 45 degrees */
  border: solid #213536;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.up {
  /* This class flips the chevron when it is applied by JavaScript */
  transform: rotate(-135deg);
}

.collapsible:first-child {
  /* Add a top border to just the top collapsible button */
  border-top: 2px solid #213536;
}

.content {
  /* Everything within the contents of the collapsible has a height of 0 until modified by JavaScript */
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #21353694;
}

.filters p.sort-type {
  /* Padding for sort options that are in the first collapsible section */
  padding-left: 20px;
}

.filters p.sort-type:hover {
  /* This styling applies when hovering over the sort options that are in the first collapsible section */
  color:#213536;
  cursor: pointer;
}

/* Checkboxes for filtering */

.container-checkbox {
  /* The checkboxes and associated text are inside the labels that have this class */
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;  
}

.container-checkbox:hover {
  /* Change colour of text when hovering over checkbox */
  color: #213536;
}

.container-checkbox p {
  /* This applies to the text beside the checkboxes */
  display: inline;
  padding-left: 10px;
  vertical-align: top;
}

.container-checkbox input {
  /* Overriding the size of the checkbox */
  height: 20px;
  width: 20px;
}




/* Products Section */

div.products {
  grid-column: 2;
  padding: 0;
  margin-bottom: 60px;
  width: 100%;
}

.products h1 {
  z-index: 1;
  position: sticky;
  top: 52px;
  margin: 0;
  width: 100%;
  padding-bottom: 32px;
}

.flex-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  gap: 2.5%;
  row-gap: 20px;
  align-content: flex-start;
  justify-content: space-between;
}

.flex-product-item {
  width: 31%;
  min-width: 31%;
  max-width: 31%;
  flex: 1 1 0px;
  background-color: #F8F8F8;
}



.image-holder {
  z-index: 0;
  position: relative;
}

.image-holder img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.product img {
  z-index: 0;
  position: relative;
  width: 100%;
  border-radius: 12px;
}

.grid-container {
  display: grid;
}

.product-name {
  margin: 10px;
  margin-left: 0;
  font-size: 20px;
  line-height: 20px;
  grid-column: 1;
  color: #213536;
}

.product-price {
  margin: 10px;
  margin-right: 0;
  grid-column: 2;
  text-align: end;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #2135367e;
}




/* .image-holder {
  z-index: 0;
  position: relative;
} */

.hide-till-hover {
    position: absolute;
    bottom: 10px;
    right: 10px;

    visibility: hidden;
    height: 32px;
    width: calc(100% - 20px);
    border: 0px solid #213536;
    background-color: white;
    border-radius: 12px;
    color: #213536;
    font-size: 20px;
    font-weight: 500;
}

.flex-product-item:hover .hide-till-hover {
  visibility: visible;
}





.placeholder {
  height: 320px;
  min-width: 360px;
  width: 100%;
  flex: 1 1 0px;
  background-color: rgba(255, 255, 255, 0);
}