html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #F8F8F8;
}

  /* Page body styling */

  .outer-container{
    width: 100%;
  }

  .about-us-container {
    width: 100%;
    height: 255px;
    border: 0.75px solid black;
    box-shadow: 0px 0px 1.5px 0px black;
    display: flex;
    align-items: center;
    background-image: url(../../resources/About\ Us\ Background.jpg);
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size:cover;
    
    
  }
  
  .about-us {
    width: auto;
    font-size: 30px;
    height: auto;
    text-align: center;
    margin: auto;
    color: #F8F8F8;
  }

  .inner-container{
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .main-content{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .origins-section{
    display: flex; 
    justify-content: center;
    align-items: center;
    height:500px;
    margin-bottom: 60px;
  }
  .origins-image{
    width: 35%;
    height: auto;
    margin-right: 5%;

  }
  .origins-text{
    width: 35%;
    margin-top:-25px;
    font-size:14.5px;
  }

  h2{
    font-size: 26px;
  }

  .nature-section{
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height:300px;
    margin-bottom:150px;
  }
  .nature-image{
    width: 35%;
    height: auto;
    
  }
  .nature-text{
    width: 35%;
    font-size:14.5px;
    margin-right: 5%;
    overflow: hidden;
    padding-left: 20px;
  }

  .values-section{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  .teamwork-section, .customer-section, .community-section {
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}


.values-title{
  font-size:46px;
  width: 30%;
  font-weight: 600;
  text-align: justify;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.values-image{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.teamwork-text, .integrity-text, .community-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  padding: 0 20px;
}
