html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}

/* Aligning structural page elements */

.outer-main {
    justify-content: center;
    display:flex;
    height: auto;
    width: 100%;
    margin-bottom:100px;

}

.inner-main{
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height:fit-content;
}


/* Left Side */

.left-main{
    width: 50%;
    height:fit-content;
}

.left-main h1 {
    color: #213536;
    font-size: 36px;
    line-height: 36px;
    margin: 16px 0;
}

/* Product Image */

.image-holder {

    width: 100%;
}

.image-holder img {
    width: 100%;
    border-radius: 12px;
}



/* Right side */

.right-main {
    width: 45%;
    margin-top: 68px;
}

.right-main p {
    color: black;
    font-size: 15px;
}

.right-main h2 {
    color: #F8F8F8;
    margin:0;
}

.right-main h4 {
    font-size: 20px;
}

.user-selection p {
    color:#dcdcdc
}

.user-selection {
    background-color: #213536;
    border-radius: 12px;
    padding: 20px;
    padding-top: 12px;

}

.price-and-stock {
    display:grid;
}

.price-and-stock p{
    margin: 6px 0;
}

.price {
    font-weight: bold;
    grid-column: 1;
}

.stock {
    grid-column: 2;
    text-align: end;
}

.right-main h3 {
    color: black
}



/* Select size box */

.select-size {
    width: 100%;
    height: 40px;
    padding: 6px;
    font-size: 14px
}

.select-size:focus {
    outline:none;
}

.select-size:hover {
    cursor:pointer
}

/* Quantity Section */

.quantity-container {
    background-color: #F8F8F8 ;
    height: 80px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
  }

h3.h3-quantity{
    color: #213536;
    font-weight: normal;
    margin-top:0;
}

.quantity-bottom-section {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.quantity-bottom-section>div {
    display: grid;
    width: 60%;
}

.quantity-number-container {
    grid-column: 1;
    display:flex;
    width: 90px;
    position: relative;
    flex-direction: row;
    background-color: #F8F8F8;
    justify-content: center;
    text-align: center;
    height: 32px;
  }
  
  .quantity-number-container div {
    border-radius: 0;
  }

  .quantity-minus{
    width: 33%;
    position: absolute;
    background-color: #213536;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: #F8F8F8;
    border: none;
    border-right: 1px solid #F8F8F8;
  }
  
  .quantity-number{
    border-left: 2px solid #F8F8F8;
    border-right: 2px solid #F8F8F8;
    color: #F8F8F8;
    background-color: #213536;
    width:33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-plus{
    width: 33%;
    background-color: #213536;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #F8F8F8;
    border: none;
    border-left: 1px solid #F8F8F8;
  }

  .quantity-number-container button:active {
    background-color: gray;
  }

  .quantity-number-container button:hover {
    cursor: pointer;
  }


/* Add to cart button */

.add-to-cart {
    grid-column: 2;
    width: fit-content;
    min-width: 100px;
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background-color: #213536;
    color: #F8F8F8;
    margin-left:5%;
}

.add-to-cart:active {
    background-color: gray;
  }

.add-to-cart:hover {
    cursor:pointer
}

.added-to-cart {
    grid-column: 3;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: end;
}

.reviews-headerline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.reviews-headerline>div {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 12px;
}

.add-review {
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    padding: 4px 16px;
    border: none;
    background-color: #213536;
    color: #F8F8F8;
}

.add-review:hover {
    cursor: pointer;
}

.no-review-message {
    text-align: center;
    align-items: center;
}

.my-review-expanded {
    /* background-color: #d7d7d7; */
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.my-review h5 {
    font-size: 16px;
    margin: 0;
}

.review-topline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 12px;
    color: #213536;
}

.star {
    color: #213536;
}

.star:hover {
    cursor: pointer;
}

#my-review-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 160px;
    border-radius: 6px;
    padding: 2px 6px;
}

.review-bottomline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.review-message {
    width: 60%;
    text-align: center;
    align-self: center;
    font-size: 14px;
}

.review-buttons {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    margin-top: 8px;
    gap: 8px;
}

.review-buttons button {
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    padding: 4px 16px;
    border: none;
}

.review-buttons button:hover {
    cursor: pointer;
}

.cancel-review {
    background-color: #868686;
    color: #F8F8F8;
}

.submit-review {
    background-color: #213536;
    color: #F8F8F8;
}


.review {
    background-color: #d7d7d7;
    padding: 16px;
    padding-top: 12px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.review-title-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.review h5 {
    font-size: 16px;
    color: #213536;
    margin: 0;
    margin-bottom: 6px;
}

.review h6 {
    font-size: 14px;
    color:#868686;
    margin: 0;
    margin-bottom: 10px;
}

.review p {
    margin: 0;
}

.review>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.display-rating {
    font-size: 16px;
    display: inline-block;
    color: #213536;
    margin-left: 20px;
    margin-top: -5px;
}

.select-rating {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-top: -5px;
    gap: 4px;
}

.available {
    grid-column: 2;
    text-align: end;
    margin-top: -17px;
    margin-right: 10px;
}
  