
/* Full page styling */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


        /* Navbar styling */

ul {
    margin: 0;
    padding: 0;
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  /* Link text */
  li a {
    padding: 16px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the color of the button text on hover */
  li a:hover {
    color: white;
  }



        /* Page body styling */

h1 {
    margin: 12px;
}