html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
  }
          
    /* Page body styling */
  
  
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    height: 100px;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 40vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }

  
  button[type="submit"]:hover {
    background-color: #213536;
  }
  
  .not-you {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .not-you p {
    margin: 0;
    font-size: 14px;
  }
  
  .not-you button {
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }